# Database configuration
DB_NAME=example_name
DB_USERNAME=example_username
DB_PASSWORD=example_password

# Probably you have to don't touch it
DB_HOST=localhost
DB_PORT=5432

DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public

# Possible modes: development / production
NODE_ENV=development

